# IntelliJ IDEA
.idea/*
!.idea/inspectionProfiles
!.idea/codeStyles
!.idea/vcs.xml
!.idea/runConfigurations
!.idea/modules.xml

# Dateien, die nicht versioniert werden sollten
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries
target